html,
body {
    height: 100%;
}

.form-container {
    max-width: 350px;
    padding: 1rem;
}

a {
    display: flex;
    text-decoration: none;
    color: white;
    height: 5px;
    width: 5px;
}

.btn {
    display: flex;
    text-align: center;
}